/* Stylesheet */

body {
	background: #9CC
}

section {
	font-family: 'Open Sans Condensed', sans-serif;
}

header {
	font-family: 'Open Sans Condensed', sans-serif;
	border-bottom: 1px solid black ;
}

nav {
	font-family: 'Open Sans Condensed', sans-serif;
}

blockquote {
	font-family: 'Open Sans Condensed', sans-serif;
}

.container_12 {
	
}

blockquote {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 48px ;
	text-align: center ;
	color: #FFF
}

